.detail_navbar_container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  user-select: none;
  .detail_navbar_title{
    font-size: 20px;
    color: #333;
    font-weight: bold;
  }
  .detail_navbar_right{
    display: flex;
    align-items: center;

    .detail_navbar_close{
      font-size: 20px;
      cursor: pointer;
    }
  }
}
